@media screen and (min-width: 360px) {  
  /* .favorite-card-img {
    width: 8em;
  }

  .buttons__container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .buttons__container button {
    width: 70px;
    margin-top: 50px;
    border: white solid 1px;
    background-color: #316A50;
    color: white;
  }

  .favorite__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
    text-decoration: none;
  }

  .cards img {
    width: 160px;
    border-radius: 10px 10px 0px 0px;
  } */
}