@media screen and (min-width: 360px) {
  .Recipes__cards-container-filter {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 15px;
    width: 100%;
  }

  .Recipes__card {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 15px;
    max-width: 90%;
    min-height: 230px;
    min-width: 90%;
    text-align: center;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
  }

  .Recipes__card-img {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  .Recipes__card p {
    margin-top: 10px;
  }
}
