@media screen and (min-width: 360px) {
  :root {
    --green-color: #316A50;
  }

  .RecipeDetails__main-container {
    display: flex;
    justify-content: column;
    width: 100%;
  }

  .RecipeDetails__recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
  }

  .RecipeDetails__img-container {
    display: block;
    color: white;
    height: 20vh;
    width: 100%;
  }

  .RecipeDetails__recipe-details-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .RecipeDetails__black-filter {
    height: 20vh;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }

  .RecipeDetails__title-container {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 20vh;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .RecipeDetails__recipe-category {
    color: var(--green-color);
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
  }

  .RecipeDetails__icons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: absolute;
    width: 100%;
  }

  .RecipeDetails__icons {
    margin-right: 10px;
    width: 30px;
  }

  .RecipeDetails__ingredients-title, .RecipeDetails__instructions-title, .RecipeDetails__recommended-title  {
    font-weight: 700;
    margin-left: 20px;
    margin-top: 30px;
    width: 90%;
  }

  .RecipeDetails__ingredients-container {
    border: solid white 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 15px 15px 32px;
    width: 90%;
  }

  .RecipeDetails__instructions-container {
    border: solid white 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    width: 90%;
  }

  .RecipeDetails__recommended-container {
    border: solid white 1px;
    border-radius: 5px 5px 5px 5px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 90%;
    /* -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0); */
  }

/* abaixo o css para  manter o scroll sempre visível*/
/* fonte: https://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible */

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  /* fonte: https://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible */

  .RecipeDetails__recomendation-card {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 80%;
    margin: 4%;
    text-align: center;
    width: 40%;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
  }

  .RecipeDetails__recomendation-img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
  }

  .RecipeDetails__start-button-link {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 90%;
  }

  .RecipeDetails__start-button {
    background-color: #316A50;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    height: 40px;
    width: 100%;
  }
}
