@media screen and (min-width: 360px) {
  .CardRecipes__cards-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .CardRecipes__card {
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin-bottom: 10px;
    min-height: 262px;
    text-align: center;
    width: 140px;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
  }

  .CardRecipes__title {
    font-weight: 700;
  }

  a:link {
    text-decoration: none;
  }

  .CardRecipes__card img {
    border-radius: 10px 10px 0px 0px;
    width: 140px;
  }

  .CardRecipes__card p {
    margin: 5px;
  }

  body {
    background-color: #D1D0CE;
  }
}