@media screen and (min-width: 360px) {
  .CardRecipes__cards-container {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .CardRecipes__card-link {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 15px;
    max-width: 90%;
    min-height: 14.688rem;
    min-width: 90%;
    text-align: center;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
  }

  .CardRecipes__card-text {
    margin: 0.625rem;
  }

  .CardRecipes__title {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .CardRecipes__info {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  a:link {
    text-decoration: none;
  }

  .CardRecipes__card img {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  body {
    background-color: #D1D0CE;
  }
}