@media screen and (min-width: 360px) {
  .CardRecipes__cards-container {
    border: red solid 1px;
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: auto auto; 
    justify-content: center;
    width: 100%;
  }
  .CardRecipes__card-link {
    align-self: center;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 15px;
    min-height: 275px;
    text-align: center;
    width: 90%;
    -webkit-box-shadow: -2px 18px 23px -23px rgb(0 0 0);
  }

  .CardRecipes__title {
    font-weight: 700;
    /* margin-top: 5px; */
  }

  a:link {
    text-decoration: none;
  }

  .CardRecipes__card img {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  body {
    background-color: #D1D0CE;
  }
}