/* @media screen and (min-width: 360px) {
  .CardCategory__container {
    border: solid red 1px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    width: 360px;
  }

  .CardCategory__button {
    width: 90px;
    height: 90px;
    left: 13px;
    top: 288px;
    font-size: 8px;
    border: 1.8px solid #316A50;
    border-radius: 45.2px;
  }
} */