@media screen and (min-width: 360px) {
  .footer {
    background: #316A50;
    position: sticky;
    width: 100%;
    height: 52px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}