@media screen and (min-width: 360px) {
  .Footer__footer-container {
    align-items: center;
    background: #316A50;
    bottom: 0px;
    display: flex;
    height: 52px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
  }
}