@media screen and (min-width: 360px) {
  .Header__header-container {
    align-items: center;
    background: #316A50;
    display: flex;
    height: 52px;
    justify-content: space-around;
    left: 0px;
    position: fixed sticky;
    top: 0px;
    width: 100%;
  }

  .Header__title-container {
    color: white;
    padding-top: 10px;
  }

  .Header__icons-container {
    display: flex;
    gap: 10px;
  }

  .Header__icons {
    display: flex;
    height: 40px;
    width: 40px;
  }
}