@media screen and (min-width: 360px) {
  .div_header {
    /* position: fixed; */
  }
  .header__container {
    background: #316A50;
    position: fixed;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .search_bar_container {
    position: fixed;
  }

  .title_container {
    color: white;
    padding-top: 10px;
  }

  .profile__icon {
    display: flex;
  }

  .icons__container {
    display: flex;
    gap: 10px;
  }
}