@media screen and (min-width: 360px) {
  :root {
    --box-shadow: -2px 18px 23px -23px rgb(0 0 0);
    --gray-color: #D1D0CE;
    --green-color: #316A50;
  }

  .SearchBar__container {
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .SearchBar__form {
    align-items: center;
    background: var(--green-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 8rem;
    /* position: sticky; */
    width: 94%;
  }

  .SearchBar__input {
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    height: 2.5rem;
    margin-top: -1px;
    padding: 0.7rem;
    width: 100.11%;
  }

  .SearchBar__radio-btn-container {
    color: #FFFFFF;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-evenly;
    margin-top: 0.4rem;
    width: 100%;
  }

  .SearchBar__search-btn {
    background-color: var(--gray-color);
    border-radius: 5px;
    border: solid var(--gray-color) 1px;
    height: 2rem;
    margin-top: 0.4rem;
    width: 62%;
  }
}